{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 30, "knowledge_revision": 62, "git_revision": "", "hash": "1083f11979a377b903c27d3f3a27a16d", "format-version": 4, "code-base-name": "default", "filename": "ticketing_api_workspace/ticketing_api/requirements.txt", "revision_history": [{"62": ""}]}